<div class="text-center">
	<h1>Finance Tracker</h1>
</div>
<div class="container">

	<!-- <div class="alert alert-danger" [hidden]="!error">
	There was a problem logging in. Please try again.
</div> -->
	<form [formGroup]="form" (ngSubmit)="login()">

		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" formControlName="username" />
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" formControlName="password" />
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary">Sign In</button>
			<p>Not a member? 
				<a href="javascript:void(0)" (click)="openRegisterFormModal()">Register</a>
			</p>
		</div>
	</form>
</div>