<div class="container">
    <button (click)="openCreateExpenseModal()">Add Expense</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Date</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses">
                <td>{{expense.description}}</td>
                <td>{{expense.price}} {{expense.currency}}</td>
                <td>{{expense.category?.categoryName}}</td>
                <td>{{expense.date}}</td>
                <td>
                    <button (click)="openUpdateExpenseModal(expense)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="deleteExpense(expense.id)" style="margin-left: 10px">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>