
<div class="app" style="display: flex; height: 100vh; overflow:scroll initial">

    <div class="container">
        <button class="addButton btn btn-dark" (click)="openCreateExpenseModal()">Add Expense</button>
       
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expenses">
                    <td>{{expense.description}}</td>
                    <td>{{expense.price.toFixed(2)}} {{expense.currency}}</td>
                    <td>{{expense.category.categoryName}}</td>
                    <td>{{expense.date}}</td>
                    <td>
                        <button (click)="openUpdateExpenseModal(expense.id)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button (click)="deleteExpense(expense.id)" style="margin-left: 10px">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
