<div class="modal-header">
  <h4 class="modal-title pull-left">Update Expense</h4>
  <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class='form-group'>
      <label for="description">Description</label>
      <input id="description" name="description" formControlName="description" class='form-control' autocomplete="off"
        type="text" required>
    </div>

    <div class='form-group'>
      <label for="price">Price</label>
      <input id="price" name="price" formControlName="price" class='form-control'  type="number" min="0">
    </div>
    
    <div class='form-group'>
      <label for="currency">Currency</label>
      <input id="currency" name="currency" formControlName="currency" class='form-control' autocomplete="off"
        type="text" required>
    </div>
    <div class='form-group'>
      <label for="category">Category</label>
      {{categoryId}}
      <select id="category" name="category" [(ngModel)]="categoryId" (change)="changeCategory($event)" formControlName="category" class='form-control'>
        <option [value]="category.id" *ngFor="let category of categories">
          {{ category.categoryName }}
        </option>
      </select>
    </div>
    <div class='form-group'>
      <label for="date">Choose a date</label>
      <input id="date" name="date" formControlName="date" class='form-control'  type ="date" required>
    </div> 

    <button class="btn btn-dark" style="margin-left: 8px;" type="submit">Submit</button>
  </form>
</div>